ul,
ol {
  margin: 0 !important;
  padding: 0 !important;
  list-style-position: inside;
  list-style-type: none;
  border: none !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}